<h1 class="text-center text-light p-2">Following</h1>
<hr />
<div class="row mt-3">
    <% if !@follow_users.blank? %>
        <% @follow_users.each do |follow_user| %>
            <div class="col-lg-3 mb-3">
                <div class="card" style="width: 15rem;">
                    <div class="card-img-top text-center mt-3">
                        <%= link_to gravatar_for(follow_user) %>
                    </div>
                    <div class="text-center m-3">
                        <h5><%= link_to follow_user.name, user_path(follow_user), style: "color: violet;" %></h5>
                    </div>
                </div>
            </div>
        <% end %>
    <% else %>
        <h3 class="d-block mx-auto text-light">Let's follow someone</h3>
    <% end %> 
</div>
<div class="pagenate text-center border-top pt-3">
    <%= will_paginate @follow_users if !@follow_users.blank? %>
</div> 
<%= link_to "Back", user_path(@user), class: 'btn btn-light' %> 


