<div class="row">
    <div class="col-lg-3 mt-4">
        <div class="card d-inline-block" style="width: 18rem;">
            <div class="text-center mt-3">
                <%= gravatar_for current_user, size: 120 %>
            </div>
            <div class="card-body">
                <h1 class="card-title text-center"><%= current_user.name %></h1>
            </div>
             <div class="text-center">
                <%= link_to "lessoned word",lessoned_words_path %>
            </div>
        </div>
    </div>
    <div class="col-lg-6 offset-1">
        <h1 class="text-center mt-4">Active</h1>
        <div class="jumbotron">
            <div class="media">
                <img src="..." class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">Media heading</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>
        </div>
    </div>
</div>