<div class="col">
                    <h4>40</h4>
                    <small>following</small>
                </div>
                <div class="col">
                    <h4>40</h4>
                    <small>followers</small>
                </div>`