
<nav class="navbar navbar-light bg-light">
    <div style="height: 40px;">
        <div class="container">
            <small>E-learning system &copy;
            <%= link_to "Ayumi Taniguchi", "https://www.facebook.com/profile.php?id=100031045652824&ref=bookmarks", class: 'text-info' %></small>
        </div>
    </div>
</nav>

