<div class="row">
    <div class="col-lg-6 offset-4 mt-4">
        <%= @category.title %>
        <hr />
        <%= @word %>
        <div class="card text-center d-inline-block" style="width: 18rem;">
            <div class="card-body">
                <%= link_to "a", lesson_answers_path(word), class: "btn btn-warming" %>
            </div>
        </div>

    </div>
</div>