 <div class="cantainer">   
    <div class="row">
        <div class="col-lg-6 offset-2 mt-4">
            <div class="card" style="width: 40rem;">
                <div class="card-header">
                    <%= @lesson.category.title %>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Word</th>
                            <th>CorrectAnswer</th>
                            <th>Answer</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @lesson.answers.each do |ans| %>
                            <tr>
                                <td><%= ans.word.content %></td>
                                <td><%= ans.word.choices.where(correct: true).first.content %></td>
                                <td><%= ans.choice.content %></td>
                                <td>
                                    <% if ans.word.choices.find_by(correct: true).content == ans.choice.content %>
                                        <i class="fas fa-check"></i>
                                        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>