@import "bootstrap";

body{
    background: image-url('flower.jpg');
    background-size: cover;
    font-family: 'Indie Flower', cursive;
}

.static_page{
    height: 800px;
}
.header-link{
    background-color: #fddee3; 
    height: 60px;
}
.footer-link{
    background-color: #fddee3; 
    height: 60px;
}
