// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sinup_link{
    border-radius: 50%;
    background-color: rgb(238, 87, 112);
    height: 30px;
    margin: 200px;
}

